{{ template "base" .}}

{{ define "content"}}
    <div class="container">
        <class class="row">
            <class class="col">
                <h1> This is the home page</h1>
                <p>This is some text</p>
            </class>
        </class>
    </div>
{{end}}